<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shinyelee.android_study2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_study2">
        <activity
            android:name=".SecondActivity"
            android:exported="true" />
        <activity
            android:name=".LinearLayout"
            android:exported="true" />
        <activity
            android:name=".ConstraintLayout"
            android:exported="true" />
        <activity
            android:name=".RelativeLayout"
            android:exported="true" /> <!-- 메인화면 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- 앱이 실행될 때 가장 먼저 실행하도록 하는 코드 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>